html {
  font-family: 'Noto Serif', serif;
}

.header {
  color: #fff;
  background-color: #70ad55;
}

.footer {
  color: #fff;
  background-color: #70ad55;
}

.btn {
  color: #fff;
  background-color: #6e8c62;
  border: none;
}
