html {
  font-family: "Noto Serif", serif;
}

header {
  color: #fff;
  background-color: #70ad55;
}

footer {
  color: #fff;
  background-color: #70ad55;
}

.btn {
  color: #fff;
  background-color: #6e8c62;
  padding-left: 2em;
  padding-right: 2em;
}

span {
  color: #6e8c62;
}

hr {
  margin-left: .5em;
  margin-right: .5em;
  color: #70ad55;
  border-width: 1px;
}

fieldset {
  border: 0;
}
